<section>
    <h3 class="page-name">Zarządzanie Postami</h3>
    <div class="container">
        <div class="col-names">
            <h4>Tytuł</h4>
            <h4>Opcje</h4>
        </div>
        <app-post *ngFor="let newsItem of newsItemsToDisplay" [newsItem]="newsItem"></app-post>
        <mat-paginator
            (page)="changePage($event.pageIndex)"   
            [pageSize]="itemsPerPage"
            hidePageSize
            [length]="totalElements"
            aria-label="Select page">
        </mat-paginator>
    </div>
</section>