<div class="container">
    <h1 class="page-name">Dodaj post</h1>
    <form [formGroup]="postForm" (ngSubmit)="onPost()">
      <input type="text" formControlName="title" placeholder="Tytuł"/>
      <div class="group-container">
        <div class="double-input-container">
          <input type="text" formControlName="author" placeholder="Autor"/>
          <input type="file" class="file-input" accept="image/*" multiple (change)="showPreview($event)"/>
        </div>
        <div class="images-container" *ngIf="previews.length > 0">
          <h4>Obrazy</h4>
          <div class="images-preview-container" *ngFor="let preview of previews; trackBy: trackByFn">
            <p>{{ preview.file.name }}</p>
            <img [src]="preview.preview" [alt]="preview.file.name" class="image-preview"/>
            <button type="button" class="delete" (click)="onDelete(preview.file.name)">&#9760;</button>
          </div>
        </div>
      </div>
      <div class="row-container">
        <h3>Tekst</h3>
        <textarea class="text-input" formControlName="text" placeholder="Dodaj tekst"></textarea>
      </div>
      <!-- <div class="row-container">
        <h3>Platformy</h3>
        <div formArrayName="platforms">
          <div class="checkbox-img-container" *ngFor="let control of getPlatforms().controls; let i = index">
            <label>
              <img [src]="path + 'images/logo.png'" alt="" class="checkbox-img">
            </label>
            <input type="checkbox" class="checkbox" [formControlName]="i" (change)="onCheckboxChange(i, $event)">
          </div>
        </div>
      </div> -->
      <div class="submit-container">
        <input type="submit" value="Dodaj post" [disabled]="postForm.invalid">
      </div>
    </form>
  </div>
  