$header-font-color: rgb(255, 255, 255);

.sidebar-header{
    text-align: center;
    padding: 24px;
    color: $header-font-color;

    .header-image {
        width: 150px;
        max-width: 100%;
        object-fit: contain;
        margin-bottom: 14px;
        filter: brightness(0) invert(1);
    }

    // .header-text{
    //     > h2 {
    //         margin: 0;
    //         font-size: 2.5rem;
    //         line-height: 2.5rem;
    //     }

    //     > p {
    //         margin: 0;
    //         font-size: 2rem;
    //         line-height: 2rem;
    //     }
    // }
}

mat-nav-list {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
}

@media only screen and (max-width: 900px) {
    mat-nav-list {
        padding-left: 0rem;
    }
}