<header>
    <h2>{{ text.title | translate }}</h2>
    <app-custom-button [routerLink]="['/projects']" class="join-us" [text]="text.allProjects | translate" [isSecondaryButton]="true" />
</header>
@if (projects$ | async; as projects) {
    <section class="projects-container">
        @for (project of projects.slice(0,3); track project.id) {
            <div [routerLink]="['/projects', project.id]" class="project" [style.backgroundImage]="'url('+ project.url + ')'">
                <h3>{{ project.title }}</h3>
            </div>
        }
    </section>
}