<div class="container">
    <h3>Dodaj projekt</h3>
    <form action="">
        <div class="solo-input-container">
            <div>
                <input type="text" class="title" placeholder="Tytuł projektu"/>
            </div>
            <div>
                <input type="text" class="subtitle" placeholder="Podtytuł projektu"/>
            </div>
        </div>
        <div class="solo-input-container">
            <h3>Zdjęcie tytułowe</h3>
            <input type="file" class="img-input" accept="image/*"/>
        </div>
        <div class="teams-container">
            <h3>Wybierz zespół</h3>
            <app-team-checkbox *ngFor="let team of teams" [teamObject]="team"></app-team-checkbox>
        </div>
        <div class="solo-input-container">
            <h3>Czy projekt jest aktywny?</h3>
            <label for="active">TAK</label>
            <input type="checkbox" id="active" name="active"/>
        </div>
        <div class="text-input-container">
            <h2>Opis projektu</h2>
            <textarea name="projectDesc" id="projectDesc"></textarea>
        </div>
        <div class="project-images">
            <input type="file" class="img-input" accept="image/*" multiple (change)="showPreview($event)">
            <div class="images-container">
                <h4>Obrazy</h4>
                    @for (preview of previews; track $index) {
                        <div class="images-preview-container">
                            <p>{{preview.file.name}}</p>
                            <img [src]="preview.preview" [alt]="preview.file.name" class="image-preview"/>
                            <button type="button" class="delete" (click)="onDelete(preview.file.name)">&#9760;</button>
                        </div>
                    }
            </div>
        </div>

        <div class="submit-container">
            <input type="submit" value="Dodaj post">
        </div>
    </form>
</div>