<section>
    @for (newsItem of newsItemsToDisplay; track newsItem.id) {
        <div
          class="newsItem"
          [style.backgroundImage]="getNewsImage(newsItem.backgroundPhoto?.src)"
          [routerLink]="['/news', newsItem.id]"
        >
            <div class="overlay">
              <div class="basic-info">
                <span class="date">{{ newsItem.date | date:'medium' }}</span>
                <h3>{{ newsItem.title }}</h3>
                <p>
                  {{ newsItem.description | truncate: [150] }}
                </p>
              </div>
            </div>
        </div>
    }
  </section>
  
  <mat-paginator
    (page)="changePage($event.pageIndex)"
    [pageSize]="itemsPerPage"
    hidePageSize
    [length]="totalPages"
    aria-label="Select page">
  </mat-paginator>