<section>
    @for (newsItem of newsItemsToDisplay; track newsItem.id) {
        <!-- <mat-card class="card">
            <img mat-card-image [src]="newsItem.imageUrl" [alt]="newsItem.title">
            <mat-card-header>
                <mat-card-title><h1>{{ newsItem.title }}</h1></mat-card-title>
              </mat-card-header>
            <mat-card-content>
                <p>
                    {{ newsItem.content | truncate: [150] }}
                </p>
              </mat-card-content>
            <footer>
                <span>{{ newsItem.date }}</span>
                <app-custom-button [routerLink]="[newsItem.id]" [text]="'Czytaj dalej'"></app-custom-button>
              </footer>
        </mat-card> -->
        <div
          class="newsItem"
          [style.backgroundImage]="'url('+ newsItem.imageUrl + ')'"
          [routerLink]="['/news', newsItem.slug]"
        >
            <div class="overlay">
              <div class="basic-info">
                <span class="date">{{ newsItem.date }}</span>
                <h3>{{ newsItem.title }}</h3>
                <p>
                  {{ newsItem.content | truncate: [150] }}
                </p>
              </div>
            </div>
        </div>
    }
  </section>
  
  <mat-paginator
    (page)="changePage($event.pageIndex)"
    [pageSize]="itemsPerPage"
    hidePageSize
    [length]="newsItems.length"
    aria-label="Select page">
  </mat-paginator>