@import './../../../../assets/styles/theme';

$header-height: 70px;

:host {
    width: 100%;
}

header {
    height: $header-height;
    background-color: rgba(0,0,0, 0.15);
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;

    .logo {
        font-size: 3rem;
        color: $text-light;
    }

    nav {
        ul {
            display: flex;
            gap: 2rem;
            list-style: none;
            color: $text-light;
            font-size: $font-size-m;

            a {
                all: unset;
                cursor: pointer;
            }
        }
    }
}