@import './../../../../assets/styles/theme';

$header-height: 70px;

:host {
    width: 100%;
}

header {
    height: $header-height;
    background-color: rgba(0,0,0, 0.15);
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;

    .logo {
        font-size: 3rem;
        color: $text-light;
    }

    nav {
        ul {
            display: flex;
            gap: 2rem;
            list-style: none;
            color: $text-light;
            font-size: $font-size-m;

            a {
                all: unset;
                cursor: pointer;
            }
        }

        .mobile {
            all: unset;
            color: white;
            display: none;
            font-size: $font-size-l;
        }
    }
}

@media (max-width: 576px) {
    header {
        nav {
            .mobile {
                display: block;

                mat-icon {
                    width: 34px;
                    height: 34px;

                    &.material-icons {
                        font-size: 34px;
                    }
                }
            }
        
            .desktop {
                display: none;
            }
        }
    }
}