<section class="banner">
    <section class="content">
        <h1 class="title">{{ 'navigation.projects' | translate }}</h1>
    </section>
</section>
    
<section class="content-container">
    <main class="main-container">
        <div class="projects-container main-card">
            @if (projectDetails) {
                <section>
                    <app-custom-button [routerLink]="['/projects']" [text]="'projects.allProjects' | translate" [isSecondaryButton]="true" [backButton]="true" />
                </section>
                <section class="">
                    <div class="main-container-top">
                        <div class="main-container-left">
                            <h1>{{ projectDetails.title | translate }}</h1>
                            <p>{{ projectDetails.shortDescrpiton | translate }}</p>
                            <p class="main-container-item"><img src="assets/images/icons/team.svg" alt="team">{{ teams | translate }}</p>
                            <p class="main-container-item"><img src="assets/images/icons/date.svg" alt="team">{{ projectDetails.date | translate }}</p>
                            <p class="main-container-item"><img src="assets/images/icons/project-status.svg" alt="team">{{ projectDetails.status | translate }}</p>
                            <a class="main-container-item" [attr.href]="projectDetails.siteUrl" target="_blank" rel="noopener noreferrer" *ngIf="projectDetails.site.length > 0"><img src="assets/images/icons/site.svg" alt="team">{{ projectDetails.site | translate }}</a>
                        </div>
                        <div class="main-container-right">
                            <img class="image" [src]="projectDetails.mainPhoto" alt="project-photo" />
                            <p class="photo-description">{{ projectDetails.mainPhotoDescription | translate }}</p>
                        </div>
                    </div>
                    <div class="main-container-bottom">
                        <h2>{{ text.description | translate }}</h2>
                        <p>{{ projectDetails.description | translate }}</p>
                    </div>
                </section>
                <hr class="divider"/>
                <section>
                    <div class="experiment-container">  
                        <div class="experiment-container-left">
                            <h2>{{ text.experiment | translate }}</h2>
                            <p>{{ projectDetails.experimentDescription | translate }}</p>
                        </div>
                        <div class="experiment-container-right">
                            <img class="image" [src]="projectDetails.photos[0]" alt="experiment-photos" />
                            <p class="photo-description">{{ projectDetails.photosDescriptions[0] | translate }}</p>
                        </div>
                    </div>
                </section>
                <hr class="divider"/>
                <section>
                    <h2>{{ text.team | translate }}</h2>
                    <div class="teams-container">
                        <div class="teams-container-left">
                            <img class="image" [src]="projectDetails.teamPhoto" alt="team-photo">
                        </div>
                        <div class="teams-container-right">
                            @for (team of projectDetails.teams; track team.name) {
                                <h3>{{ team.name | translate }}</h3>
                                <hr>
                                <ul>
                                    <li *ngFor="let member of team?.members">
                                        <span class="material-symbols-outlined">
                                            person
                                        </span>
                                        {{ member }}
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </section>
            } @else {
                <section>
                    <div class="unexpected-error">
                        {{ 'common.unexpectedErrorOccured' | translate }}
                    </div>
                </section>
            }
        </div>
    </main>
</section>