@import '../../../../core/components/header/header.component.scss';
@import './../../../../../assets/styles/theme';

::ng-deep {
    app-header {
        position: absolute;
        top: 0;
        left: 0;
    }
}

:host {
    flex-grow: 1;
    z-index: 1;

    .banner {
        padding-top: $header-height;
        background: url('../../../../../assets/images/night-sky.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-position-y: 70%;
        z-index: 1;
        padding: 10rem 0;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left:0;
            height: 100%;
            width: 100%;
            background-color: #0015D370;
        }

        .content {
            max-width: 1600px;
            margin: 0 auto;
            color: white;
            position: relative;
            padding: 0 6rem;
            
            .title {
                font-size: 6rem;
                font-weight: normal;
            }
        }
    }

    .content-container {
        background: linear-gradient($primary-3, $primary-1);
        box-shadow: -10px -50px 62px $primary-3, 10px -50px 62px $primary-3;
        z-index: 2;
        position: relative;
    }
}


app-project-details {
    .main-container {
        .main-card {
            padding: 2rem 6rem !important;

            h1 {
                color: $primary-1;
                font-size: $font-size-xl;
                margin-bottom: 0;
                margin-top: 0;
            }

            p, li {
                text-align: justify;
            }

            .photo-description {
                font-size: $font-size-xs;
            }

            img.image {
                width: 100%;
                border-radius: 10px;
            }

            .back-to-projects {
                a {
                    display: flex;
                    align-items: center;
                    color: black;
                    text-decoration: none;
                    gap: 1em;
                    max-width: 20%;
                }
            }

            .main-container-top, .experiment-container, .teams-container {
                display: flex;
                flex-direction: row;
                gap: 3em;
            }

            .main-container-top {
                .main-container-left {
                    width: 45%;

                    p:first-of-type {
                        margin: 0;
                        font-size: $font-size-l;
                        margin-bottom: 2em;
                    }

                    .main-container-item {
                        display: flex;
                        align-items: center;
                        gap: 0.5em;
                        color: black;
                        text-decoration: none;
                    }
                }

                .main-container-right {
                    width: 50%;
                }
            }

            .experiment-container {
                .experiment-container-left {
                    width: 70%;
                }

                .experiment-container-right {
                    width: 30%;
                }
            }

            .teams-container {
                .teams-container-left, .teams-container-right {
                    width: 50%;
                }
            }
        }
    }


}

@media screen and (max-width: 1024px) {
    app-project-details .main-container {
        .main-card {
            padding: 2rem 2rem !important;

            h1 {
                font-size: $font-size-l;
            }

            .main-container-top {
                .main-container-left {
                    width: 35%;
                }

                .main-container-right {
                    width: 65%;
                }
            }

            .experiment-container, .teams-container {
                &-left {
                    width: 60%;
                }
                
                &-right {
                    width: 40%;
                }
            }
            
        }
    }
}

@media screen and (max-width: 768px) {
    app-project-details .main-container {
        .main-card {
                h1 {
                    font-size: $font-size-l;
                }

                .main-container-top {
                    flex-direction: column;
                    gap: 1em;

                    .main-container-left {
                        width: 100%;
                    }

                    .main-container-right {
                        width: 90%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                .experiment-container {
                    flex-direction: column;
                    gap: 1em;

                    .experiment-container-left {
                        width: 100%;
                    }

                    .experiment-container-right {
                        width: 60%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                .teams-container {
                    flex-direction: column;
                    gap: 1em;

                    .teams-container-left {
                        width: 90%;
                        margin: 0 auto;
                    }

                    .teams-container-right {
                        width: 100%;
                    }
                }
            
        }
    }
}

@media screen and (max-width: 480px) {
    app-project-details .main-container-item {
        font-size: $font-size-xs;
    }
}