<section class="home-container">
    <!-- <section class="banner">
        <section class="content">
            <h1 class="logo">COSMO PK</h1>
            <p>{{ text.description }}</p>
            <div class="social-media">
                @for (media of socialMedia; track media.icon) {
                    <a [href]="media.href" target="_blank" rel="noreferrer">
                        <img [src]="media.src" alt="social-media" />
                    </a>
                }
            </div>
            <app-custom-button class="join-us" [text]="text.joinUs"></app-custom-button>
        </section>
    </section> -->
    
    <main>
        <mat-card class="main-card">
            <mat-card-content>
                <section>
                    Strona projektu {{ projectId }}
                </section>
            </mat-card-content>
        </mat-card>
    </main>
</section>