@import '../../../../core/components/header/header.component.scss';
@import './../../../../../assets/styles/theme';

// DO NOT CHANGE ON YOUR OWN
// overwrites parent header styles globally
::ng-deep {
    app-header {
        position: absolute;
        top: 0;
        left: 0;
    }
}

:host {
    padding-top: $header-height;
    background: url('../../../../../assets/images/home-sky.jpg');
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .home-container {
        max-width: 1600px;
        width: 90%;
        margin: 0 auto;
    }
}


app-project-details {
    main {
        margin: 4rem 6rem;
    
        .main-card {
            padding: 2rem;
            border-radius: 15px;
    
            mat-card-content {
                h1 {
                    color: $primary-1;
                    font-size: $font-size-xl;
                    margin-bottom: 0;
                    margin-top: 0;
                }

                h2 {
                    font-size: $font-size-l;
                    margin-top: 0;
                }

                p, li {
                    text-align: justify;
                    font-size: $font-size-m;
                }

                .photo-description {
                    font-size: $font-size-s;
                }

                img.image {
                    width: 100%;
                    border-radius: 10px;
                }

                section {
                    margin: 2em 0;
                }

                section:not(:first-of-type) {
                    margin: 2em 2em;
                }

                .back-to-projects {
                    a {
                        display: flex;
                        align-items: center;
                        color: black;
                        text-decoration: none;
                        gap: 1em;
                        max-width: 20%;
                    }
                }

                .main-container-top {
                    display: flex;
                    flex-direction: row;
                    gap: 3em;

                    .main-container-left {
                        width: 45%;

                        p:first-of-type {
                            margin: 0;
                            font-size: $font-size-l;
                            margin-bottom: 2em;
                        }

                        .main-container-item {
                            display: flex;
                            align-items: center;
                            gap: 0.5em;
                            color: black;
                            text-decoration: none;
                        }
                    }

                    .main-container-right {
                        width: 50%;
                    }
                }

                .experiment-container {
                    display: flex;
                    flex-direction: row;
                    gap: 3em;

                    .experiment-container-left {
                        width: 70%;
                    }

                    .experiment-container-right {
                        width: 30%;
                    }
                }

                .teams-container {
                    display: flex;
                    flex-direction: row;
                    gap: 3em;

                    .teams-container-left {
                        width: 50%;
                    }

                    .teams-container-right {
                        width: 50%;
                    }
                }
            }
        }
    }


}

@media screen and (max-width: 1024px) {
    main {
        margin: 4rem 0;

        .main-card {
            mat-card-content {
                h1 {
                    font-size: $font-size-l;
                }

                h2 {
                    font-size: $font-size-m;
                }

                p, li {
                    font-size: $font-size-s;
                }

                .photo-description {
                    font-size: $font-size-xs;
                }

                .main-container-top {
                    .main-container-left {
                        width: 35%;
                    }

                    .main-container-right {
                        width: 65%;
                    }
                }

                .experiment-container {
                    .experiment-container-left {
                        width: 60%;
                    }

                    .experiment-container-right {
                        width: 40%;
                    }
                }

                .teams-container {
                    .teams-container-left {
                        width: 60%;
                    }

                    .teams-container-right {
                        width: 40%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main {
        .main-card {
            mat-card-content {
                h1 {
                    font-size: $font-size-l;
                }

                h2 {
                    font-size: $font-size-m;
                }

                p, li {
                    font-size: $font-size-s;
                }

                section {
                    margin: 1em 0;
                }

                section:not(:first-of-type) {
                    margin: 1em 0;
                }

                .photo-description {
                    font-size: $font-size-xs;
                }

                .main-container-top {
                    flex-direction: column;
                    gap: 1em;

                    .main-container-left {
                        width: 100%;
                    }

                    .main-container-right {
                        width: 80%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                .experiment-container {
                    flex-direction: column;
                    gap: 1em;

                    .experiment-container-left {
                        width: 100%;
                    }

                    .experiment-container-right {
                        width: 60%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                .teams-container {
                    flex-direction: column;
                    gap: 1em;

                    .teams-container-left {
                        width: 80%;
                        margin: 0 auto;
                    }

                    .teams-container-right {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    main {
        .main-card {
            mat-card-content {
                p, li {
                    font-size: $font-size-xs;
                }

                .photo-description {
                    font-size: $font-size-xs;
                }

                .main-container-top {
                    .main-container-left {
                        .main-container-item {
                            font-size: $font-size-xs;
                        }
                    }

                    .main-container-right {
                        width: 100%;
                    }
                }

                .experiment-container {
                    .experiment-container-right {
                        width: 100%;
                    }
                }

                .teams-container {
                    .teams-container-left {
                        width: 100%;
                    }
                }
            }
        }
    }
}