<section class="banner">
    <section class="content">
        <h1 class="title">PROJEKTY</h1>
    </section>
</section>
    
<section class="content-container">
    <main class="main-container">
        <div class="projects-container main-card">
            @if (projectDetails) {
                <section>
                    <app-custom-button [routerLink]="['/projects']" [text]="'Wszystkie projekty'" [isSecondaryButton]="true" [backButton]="true"></app-custom-button>
                </section>
                <section class="">
                    <div class="main-container-top">
                        <div class="main-container-left">
                            <h1>{{ projectDetails.title }}</h1>
                            <p>{{ projectDetails.shortDescrpiton }}</p>
                            <p class="main-container-item"><img src="assets/images/icons/team.svg" alt="team">{{ teams }}</p>
                            <p class="main-container-item"><img src="assets/images/icons/date.svg" alt="team">{{ projectDetails.date }}</p>
                            <p class="main-container-item"><img src="assets/images/icons/project-status.svg" alt="team">{{ projectDetails.status }}</p>
                            <a class="main-container-item" [attr.href]="projectDetails.siteUrl" target="_blank" rel="noopener noreferrer"><img src="assets/images/icons/site.svg" alt="team">{{ projectDetails.site }}</a>
                        </div>
                        <div class="main-container-right">
                            <img class="image" [src]="projectDetails.mainPhoto" alt="project-photo" />
                            <p class="photo-description">{{ projectDetails.mainPhotoDescription }}</p>
                        </div>
                    </div>
                    <div class="main-container-bottom">
                        <h2>{{ text.description }}</h2>
                        <p>{{ projectDetails.description }}</p>
                    </div>
                </section>
                <hr class="divider"/>
                <section>
                    <div class="experiment-container">  
                        <div class="experiment-container-left">
                            <h2>{{ text.experiment }}</h2>
                            <p>{{ projectDetails.experimentDescription }}</p>
                        </div>
                        <div class="experiment-container-right">
                            <img class="image" [src]="projectDetails.photos[0]" alt="experiment-photos" />
                            <p class="photo-description">{{ projectDetails.photosDescriptions[0] }}</p>
                        </div>
                    </div>
                </section>
                <hr class="divider"/>
                <section>
                    <h2>{{ text.team }}</h2>
                    <div class="teams-container">
                        <div class="teams-container-left">
                            <img class="image" [src]="projectDetails.teamPhoto" alt="team-photo">
                        </div>
                        <div class="teams-container-right">
                            @for (team of projectDetails.teams; track team.name) {
                                <p>{{ team.name }}</p>
                                <ul>
                                    <li *ngFor="let member of team?.members">
                                        {{ member }}
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </section>
            } @else {
                <section>
                    <div class="unexpected-error">
                        Wystąpił niespodziewany błąd
                    </div>
                </section>
            }
        </div>
    </main>
</section>