<div class="language-picker" (clickOutside)="closeDropdown()">
  <div class="language-picker__selected" (click)="toggleDropdown()">
    <img [src]="currentLanguage().flag" alt="Selected language flag" class="language-picker__flag">
  </div>
  <div class="language-picker__dropdown" [class.open]="isOpen()">
    <ul class="language-picker__list">
      <li *ngFor="let language of languages()" 
          class="language-picker__item"
          (click)="selectLanguage(language)"
          [class.selected]="currentLanguage().code === language.code">
        <img [src]="language.flag" alt="{{ language.name }} flag" class="language-picker__flag">
        <span class="language-picker__name">{{ language.name }}</span>
      </li>
    </ul>
  </div>
</div>
