
<section class="banner">
    <section class="content">
        <h1 class="title">{{ 'navigation.projects' | translate }}</h1>
    </section>
</section>
    
<section class="content-container">
    <main class="main-container">
        <div class="projects-container main-card">
            <app-tabs>
                <app-tab [headerTitle]="'common.current' | translate">
                    <section>
                        @if (projects$ | async; as projects) {
                            <app-project-card *ngFor="let project of projects.currentProjects" [project]="project" />
                        }
                    </section>
                </app-tab>
                <app-tab [headerTitle]="'common.completed' | translate">
                    <section>
                        @if (projects$ | async; as projects) {
                            <app-project-card *ngFor="let project of projects.finishedProjects" [project]="project" />
                        }
                    </section>
                </app-tab>
            </app-tabs>
        </div>
    </main>
</section>