@import '../../../../core/components/header/header.component.scss';
@import './../../../../../assets/styles/theme';

// DO NOT CHANGE ON YOUR OWN
// overwrites parent header styles globally
::ng-deep {
    app-header {
        position: absolute;
        top: 0;
        left: 0;
    }
}

:host {
    flex-grow: 1;
    z-index: 1;

    .banner {
        padding-top: $header-height;
        background: url('../../../../../assets/images/night-sky.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-position-y: 70%;
        z-index: 1;
        padding: 10rem 0;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left:0;
            height: 100%;
            width: 100%;
            background-color: #0015D370;
        }

        .content {
            max-width: 1600px;
            margin: 0 auto;
            color: white;
            position: relative;
            padding: 0 6rem;
            
            .title {
                font-size: 6rem;
                font-weight: normal;
            }
        }
    }

    .content-container {
        background: linear-gradient($primary-3, $primary-1);
        box-shadow: -10px -50px 62px $primary-3, 10px -50px 62px $primary-3;
        z-index: 2;
        position: relative;
    }
}

app-projects {
    .content-container main.main-container .main-card {
        padding: 0 !important;
}

}

@media (max-width: 1280px) {
    :host {
        .content-container {
            .main-container {
                .projects-container {
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    
                    section {
                        padding: 0;
                    }

                    app-sidenav {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    :host {
        .content-container {
            .main-container {
                .projects-container {
                    section {
                        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    :host {
        .banner {
            .content {
                .title {
                    font-size: 4rem;
                }
            }
        }
    }
}