<footer>
    <div class="top-panel">
        @for (column of columns; track column) {
            <div class="column">
                <h3>{{ column.header | translate }}</h3>
                <ul>
                    @for (link of column.links; track link) {
                        @if (link.external) {
                            <a [href]="link.link" target="_blank" rel="noopener noreferrer">{{ link.name | translate }}</a>
                        } @else {
                            <a [routerLink]="link.link">{{ link.name | translate }}</a>
                        }
                    }
                </ul>
            </div>
        }
        <div class="social-media"></div>
    </div>
    <hr />
    <div class="bottom-panel">
        <p>&copy; 2025, {{ 'footer.allRightsReserved' | translate }} <span class="underline">Cosmo PK Group</span></p>
    </div>
</footer>