<footer>
    <div class="top-panel">
        <div class="column" *ngFor="let column of columns">
            <h3>{{ column.header }}</h3>
            <ul>
                <li *ngFor="let link of column.links">
                    <a *ngIf="link.external" [href]="link.link" target="_blank" rel="noopener noreferrer">{{ link.name }}</a>
                    <a *ngIf="!link.external" [routerLink]="link.link">{{ link.name }}</a>
                </li>
            </ul>
        </div>
        <div class="social-media"></div>
    </div>
    <hr />
    <div class="bottom-panel">
        <p>&copy; 2024, made by <span class="underline">Cosmo PK Group</span></p>
    </div>
</footer>