@import './../../../../../assets/styles/theme';
@import './../../../../../assets/styles/global';

// DO NOT CHANGE ON YOUR OWN
// overwrites parent header styles globally
::ng-deep {
    app-header {
        position: absolute;
        top: 0;
        left: 0;
    }
}


:host {
    padding-top: $header-height;
    background: url('../../../../../assets/images/home-sky.jpg');
    flex-grow: 1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 40rem 1fr;
}

.banner {
    color: $text-light;
    padding: 10rem 0;

    .content {
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 6rem;

        .logo {
            font-size: 6rem;
            margin: 0;
            font-weight: normal;
        }

        .social-media {
            display: flex;
            gap: 2rem;

            a {
                color: white;

                img {
                    height: 20px;
                    width: 20px;
                }
            }
        }

        .join-us {
            margin-top: 2rem;
        }
    }
}

@media screen and (max-width: 480px) {
    .banner {
        .content {
            text-align: center;

            .social-media {
                justify-content: center;
            }
        }
    }
}