
<section class="banner">
    <section class="content">
        <h1 class="logo">COSMO PK</h1>
        <p>{{ text.description }}</p>
        <div class="social-media">
            @for (media of socialMedia; track media.icon) {
                <a [href]="media.href" target="_blank" rel="noreferrer">
                    <img [src]="media.src" alt="social-media" />
                </a>
            }
        </div>
        <app-custom-button class="join-us" [text]="text.joinUs"></app-custom-button>
    </section>
</section>

<div class="content-container">
    <main class="main-container">
        <div class="main-card">
            <section>
                <app-about-us></app-about-us>
            </section>
            <hr class="divider"/>
            <section>
                <app-news-summary></app-news-summary>
            </section>
            <hr class="divider"/>
            <section>
                <app-projects-home></app-projects-home>
            </section>
            <hr class="divider"/>
            <section>
                <app-join-us></app-join-us>
            </section>
            <hr class="divider"/>
            <section>
                <app-partners></app-partners> 
            </section>
        </div>
    </main>
</div>