@import '../../../../core/components/header/header.component.scss';
@import './../../../../../assets/styles/theme';

// DO NOT CHANGE ON YOUR OWN
// overwrites parent header styles globally
::ng-deep {
    app-header {
        position: absolute;
        top: 0;
        left: 0;
    }
}


:host {
    padding-top: $header-height;
    background: url('../../../../../assets/images/home-sky.jpg');
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner {
    color: $text-light;
    height: 20rem;

    .content {
        .logo {
            font-size: 6rem;
            margin: 0;
        }

        .social-media {
            display: flex;
            gap: 1rem;
            a {
                color: white;
            }
        }

        .join-us {
            margin-top: 1rem;
        }
    }

    margin: 6rem;
}

main {
    margin: 4rem 6rem;

    .main-card {
        padding: 2rem;

        mat-card-content {
            section {
                margin: 2em 0;
            }
        }
    }
}