@use './../../../../../assets/styles/theme'  as *;

app-about-us {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    gap: 2em;

    
    .left-panel {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 50%;
        
        h2 {
            margin: 0;
            user-select: none;
        }

        p {
            font-size: $font-size-m;
            text-align: justify;
        }

        .meet-our-team {
            display: flex;
            justify-content: right;
        }
    }

    .right-panel {
        width: 45%;
        border-radius: 10px;
        position: relative;
        user-select: none;
        
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
            aspect-ratio: 16/9;
        }
    }

    @media screen and (max-width: 1280px) {
        flex-direction: column;
        
        .left-panel {
            width: 100%;
            
            p {
                font-size: $font-size-s;
            }
        }
    
        .right-panel {
            width: 100%;
        }
    }
    
    @media screen and (max-width: 768px) {
        .right-panel {

            img {
                height: 100%;
            }
        }
    }
    
    @media screen and (max-width: 480px) {
        .left-panel {
            width: 100%;
            
            p {
                font-size: $font-size-xs;
            }
        }
    }
}
