@import './variables';

// Theme
$primary-1: $cosmo-magenta;
$primary-2: $cosmo-blue;
$primary-3: $cosmo-dark-blue;

// Text
$text-light: $cosmo-white;
$text-dark: $cosmo-black;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 18px;
$font-size-l: 22px;
$font-size-xl: 28px;
